<div class="nav-wrapper" id="topnav">
    <div class="container" >
        <div class="nav">
            <a href="#" class="logo">
                <i class='bx bx-movie-play bx-tada main-color'></i>Fl<span class="main-color">i</span>x
            </a>
            <ul class="nav-menu" id="nav-menu">
                <li><a href="/Home/Index">Home</a></li>
                <li><a href="#">Genre</a></li>
                <li><a href="/Movie/Index" asp-all-route-movieId="28">About</a></li>
                <li>
                    <a  href="/Account/SignIn" class="btn btn-hover" id="sign_in">
                        <span>Sign in</span>
                    </a>
                </li>
            </ul>
            <!-- MOBILE MENU TOGGLE -->
            <div class="hamburger-menu" id="hamburger-menu">
                <div class="hamburger"></div>
            </div>
        </div>
    </div>
</div>