<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href="./images/movie logo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Flix
    </title>
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <!-- OWL CAROUSEL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- APP CSS -->
    <link href="~/css/grid.css" rel="stylesheet">
    <link href="~/css/app.css" rel="stylesheet">
</head>

<body>

    <!-- NAV -->
    <div class="nav-wrapper">
        <partial name="Layouts/TopNav" />
    </div>
    <!-- END NAV -->
    <!-- HERO SECTION -->
    <div class="hero-section">
        <!-- HERO SLIDE -->
        <partial name="Layouts/Slides/HeroSlide" />
        <!-- END HERO SLIDE -->
        <!-- TOP MOVIES SLIDE -->
        <partial name="Layouts/Slides/TopMoviesSlide" />
        <!-- END TOP MOVIES SLIDE -->
    </div>
    <!-- END HERO SECTION -->
    <!-- LATEST MOVIES SECTION -->
    <partial name="Layouts/Latest/LatestMovies" />
    <!-- END LATEST MOVIES SECTION -->
    <!-- LATEST SERIES SECTION -->
    <partial name="Layouts/Latest/LatestSeries" />
    <!-- END LATEST SERIES SECTION -->
    <!-- LATEST CARTOONS SECTION -->
    <partial name="Layouts/Latest/LatestCartoons" />
    <!-- END LATEST CARTOONS SECTION -->
    <!-- SPECIAL MOVIE SECTION -->
    <partial name="Layouts/SpecialMovie" />
    <!-- END SPECIAL MOVIE SECTION -->
    <!-- PRICING SECTION -->
    <partial name="Layouts/FlixPricing/FlixPricing" />
    <!-- END PRICING SECTION -->
    <!-- FOOTER SECTION -->
    <partial name="Layouts/Footer" /> 
    <!-- END FOOTER SECTION -->
    <!-- COPYRIGHT SECTION -->
    @RenderBody()
    <!-- END COPYRIGHT SECTION -->
    <!-- SCRIPT -->
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- OWL CAROUSEL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
    <!-- APP SCRIPT -->
    <script src="~/js/app.js"></script>

</body>

</html>