<div class="top-movies-slide">
    <div class="owl-carousel" id="top-movies-slide">
        <!-- MOVIE ITEM -->
        <div class="movie-item">
            <img src="./images/series/supergirl.jpg" alt="">
            <div class="movie-item-content">
                <div class="movie-item-title">
                    Supergirl
                </div>
                <div class="movie-infos">
                    <div class="movie-info">
                        <i class="bx bxs-star"></i>
                        <span>9.5</span>
                    </div>
                    <div class="movie-info">
                        <i class="bx bxs-time"></i>
                        <span>120 mins</span>
                    </div>
                    <div class="movie-info">
                        <span>HD</span>
                    </div>
                    <div class="movie-info">
                        <span>16+</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MOVIE ITEM -->
        <!-- MOVIE ITEM -->
        <div class="movie-item">
            <img src="./images/movies/captain-marvel.png" alt="">
            <div class="movie-item-content">
                <div class="movie-item-title">
                    Captain Marvel
                </div>
                <div class="movie-infos">
                    <div class="movie-info">
                        <i class="bx bxs-star"></i>
                        <span>9.5</span>
                    </div>
                    <div class="movie-info">
                        <i class="bx bxs-time"></i>
                        <span>120 mins</span>
                    </div>
                    <div class="movie-info">
                        <span>HD</span>
                    </div>
                    <div class="movie-info">
                        <span>16+</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MOVIE ITEM -->
        <!-- MOVIE ITEM -->
        <div class="movie-item">
            <img src="./images/cartoons/demon-slayer.jpg" alt="">
            <div class="movie-item-content">
                <div class="movie-item-title">
                    Infinity Train
                </div>
                <div class="movie-infos">
                    <div class="movie-info">
                        <i class="bx bxs-star"></i>
                        <span>9.5</span>
                    </div>
                    <div class="movie-info">
                        <i class="bx bxs-time"></i>
                        <span>120 mins</span>
                    </div>
                    <div class="movie-info">
                        <span>HD</span>
                    </div>
                    <div class="movie-info">
                        <span>16+</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MOVIE ITEM -->
        <!-- MOVIE ITEM -->
        <div class="movie-item">
            <img src="./images/movies/blood-shot.jpg" alt="">
            <div class="movie-item-content">
                <div class="movie-item-title">
                    Bloodshot
                </div>
                <div class="movie-infos">
                    <div class="movie-info">
                        <i class="bx bxs-star"></i>
                        <span>9.5</span>
                    </div>
                    <div class="movie-info">
                        <i class="bx bxs-time"></i>
                        <span>120 mins</span>
                    </div>
                    <div class="movie-info">
                        <span>HD</span>
                    </div>
                    <div class="movie-info">
                        <span>16+</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MOVIE ITEM -->
        <!-- MOVIE ITEM -->
        <div class="movie-item">
            <img src="./images/series/wanda.png" alt="">
            <div class="movie-item-content">
                <div class="movie-item-title">
                    Wanda Vision
                </div>
                <div class="movie-infos">
                    <div class="movie-info">
                        <i class="bx bxs-star"></i>
                        <span>9.5</span>
                    </div>
                    <div class="movie-info">
                        <i class="bx bxs-time"></i>
                        <span>120 mins</span>
                    </div>
                    <div class="movie-info">
                        <span>HD</span>
                    </div>
                    <div class="movie-info">
                        <span>16+</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MOVIE ITEM -->
        <!-- MOVIE ITEM -->
        <div class="movie-item">
            <img src="./images/movies/bat-man.jpg" alt="">
            <div class="movie-item-content">
                <div class="movie-item-title">
                    The Dark Knight
                </div>
                <div class="movie-infos">
                    <div class="movie-info">
                        <i class="bx bxs-star"></i>
                        <span>9.5</span>
                    </div>
                    <div class="movie-info">
                        <i class="bx bxs-time"></i>
                        <span>120 mins</span>
                    </div>
                    <div class="movie-info">
                        <span>HD</span>
                    </div>
                    <div class="movie-info">
                        <span>16+</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MOVIE ITEM -->
    </div>
</div>