<div class="section">
    <div class="container">
        <div class="section-header">
            latest movies
        </div>
        <div class="" style="display: block ; width: 100%">
            <!-- MOVIE ITEM -->
            <a href="#" class="movie-item col-3">
                <img src="./images/movies/theatre-dead.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Theatre of the dead
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>120 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>16+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!-- END MOVIE ITEM -->
            <!-- MOVIE ITEM -->
            <a href="#" class="movie-item col-3">
                <img src="./images/movies/transformer.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Transformer
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>120 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>16+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!-- END MOVIE ITEM -->
            <!-- MOVIE ITEM -->
            <a href="#" class="movie-item col-3">
                <img src="./images/movies/resident-evil.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Resident Evil
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>120 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>16+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!-- END MOVIE ITEM -->
            <!-- MOVIE ITEM -->
            <a href="#" class="movie-item col-3">
                <img src="./images/movies/captain-marvel.png" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Captain Marvel
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>120 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>16+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!-- END MOVIE ITEM -->
            <!-- MOVIE ITEM -->
            <a href="#" class="movie-item col-3">
                <img src="./images/movies/hunter-killer.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Hunter Killer
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>120 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>16+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!-- END MOVIE ITEM -->
            <!-- MOVIE ITEM -->
            <a href="#" class="movie-item col-3">
                <img src="./images/movies/blood-shot.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Bloodshot
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>120 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>16+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!-- END MOVIE ITEM -->
            <!-- MOVIE ITEM -->
            <a href="#" class="movie-item col-3">
                <img src="./images/movies/call.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Call
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>120 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>16+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!-- END MOVIE ITEM -->
        </div>
    </div>
</div>