@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
@section Styles {
    <link rel="stylesheet" href="~/css/email.css">
    <link href="~/css/grid.css" rel="stylesheet">
    <link href="~/css/app.css" rel="stylesheet">
}
*@
@model LogInModel
<div class="e-container">
    <h1 class="form-title">Recover Password</h1>
    <form id="rForm" method="post" asp-controller="Account" asp-action="RecoverPassword">
        <div class="input-group">
            <input asp-for="LogInName" class="e-email" placeholder="UserName/Email" />
        </div>
        <div class="input-group">
            <input asp-for="Password" class="e-password" type="password" id="password" placeholder="Password" />
        </div>
        <div class="input-group">
            <input type="password" id="rpassword" class="e-password" placeholder="Re-fill Password" />
        </div>
        <div class="messageDiv" style="display:none; color: red;"></div>
        <p class="recover">
            <a asp-controller="Account" asp-action="SignIn">SignIn</a>
        </p>
        <button class="e-btn btn btn-hover" type="submit" style="margin-top: 20px">
            <span>
                Submit
            </span>
        </button>
    </form>
</div>

@section Scripts {
    <script>
        document.getElementById('rForm').addEventListener('submit', function (e) {
            var password = document.getElementById('password').value;
            var rpassword = document.getElementById('rpassword').value;
            var messageDiv = document.querySelector('.messageDiv');

            if (password !== rpassword) {
                messageDiv.innerText = 'Mật khẩu không khớp!';
                messageDiv.style.display = 'block';

                e.preventDefault();
            } else {
                messageDiv.style.display = 'none';

            }
        });

    </script>
}