@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/css/email.css">
}
<div class="container">
    <h1 class="form-title">Recover Password</h1>
    <form id="recoverPasswordForm" method="post" asp-controller="Account" asp-action="RecoverPassword" enctype="multipart/form-data">
        <div class="input-group">
            <i class="fas fa-envelope"></i>
            <input placeholder="Email" />
            <label for="email">Email</label>
        </div>
        <div class="input-group">
            <i class="fas fa-lock"></i>
            <input type="text" placeholder="Password" />
            <label for="password">Password</label>
        </div>
        <div class="input-group">
            <i class="fas fa-lock"></i>
            <input type="text" id="rpassword" placeholder="Re-fill Password" />
            <label for="re-fill password">Re-fill Password</label>
        </div>
        <div class="messageDiv" style="display:none; color: red;"></div>
        <p class="recover">
            <a asp-controller="Account" asp-action="SignIn">SignIn</a>
        </p>
        <button class="btn" type="submit">Submit</button>
    </form>
</div>

@section Scripts {
    <script>
        // document.getElementById('recoverPasswordForm').addEventListener('submit', function (e) {
        //     var password = document.getElementById('password').value;
        //     var rpassword = document.getElementById('rpassword').value;
        //     var messageDiv = document.querySelector('.messageDiv');

        //     if (password !== rpassword) {
        //         messageDiv.innerText = 'Mật khẩu không khớp!';
        //         messageDiv.style.display = 'block';

        //         e.preventDefault();
        //     } else {
        //         messageDiv.style.display = 'none';

        //     }
        // });

    </script>
}