@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/css/email.css">
}
@model LogInModel
<div class="container">
    <h1 class="form-title">Recover Password</h1>
    <form id="rForm" method="post" asp-controller="Account" asp-action="RecoverPassword">
        <div class="input-group">
            <i class="fas fa-envelope"></i>
            <input asp-for="LogInName" placeholder="UserName/Email" />
            <label for="email">Email</label>
        </div>
        <div class="input-group">
            <i class="fas fa-lock"></i>
            <input asp-for="Password" type="password" id="password" placeholder="Password" />
            <label for="password">Password</label>
        </div>
        <div class="input-group">
            <i class="fas fa-lock"></i>
            <input type="password" id="rpassword" placeholder="Re-fill Password" />
            <label for="re-fill password">Re-fill Password</label>
        </div>
        <div class="messageDiv" style="display:none; color: red;"></div>
        <p class="recover">
            <a asp-controller="Account" asp-action="SignIn">SignIn</a>
        </p>
        <button class="btn" type="submit">Submit</button>
    </form>
</div>

@section Scripts {
    <script>
        document.getElementById('rForm').addEventListener('submit', function (e) {
            var password = document.getElementById('password').value;
            var rpassword = document.getElementById('rpassword').value;
            var messageDiv = document.querySelector('.messageDiv');

            if (password !== rpassword) {
                messageDiv.innerText = 'Mật khẩu không khớp!';
                messageDiv.style.display = 'block';

                e.preventDefault();
            } else {
                messageDiv.style.display = 'none';

            }
        });

    </script>
}