@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/css/email.css">
    <link href="~/css/grid.css" rel="stylesheet">
    <link href="~/css/app.css" rel="stylesheet">
}

@model LogInModel
<div class="container" id="signIn">
    <h1 class="form-title">Sign In</h1>
    <form method="post" asp-controller="Account" asp-action="SignIn">
        <div id="signInMessage" class="messageDiv" style="display:none;"></div>

        <div class="input-group">
            <i class="fas fa-envelope"></i>
            <input asp-for="LogInName" placeholder="Email" required>
            <label for="email">Email</label>
        </div>
        <div class="input-group">
            <i class="fas fa-lock"></i>
            <input asp-for="Password" placeholder="Password" required>
            <label for="password">Password</label>
        </div>
        <p class="recover">
            <a asp-controller="Account" asp-action="RecoverPassword">Recover Password</a>
        </p>
        <button class="btn" type="submit">Sign In</button>
    </form>
    <p class="or">
        ----------or--------
    </p>
    <div class="icons">
        <i class="fab fa-google"></i>
        <i class="fab fa-facebook"></i>
    </div>
    <div class="links">
        <p>Don't have account yet?</p>
        <a id="signUpButton" asp-controller="Account" asp-action="SignUp">Sign Up</a>
    </div>
</div>

@section Scripts{
    <script src="~/js/email.js"></script>
}