@using Web_BTL.Models.User.Customer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/email.css">
    <link href="~/css/grid.css" rel="stylesheet">
    <link href="~/css/app.css" rel="stylesheet">
}
@model CustomerModel
<div class="e-container" id="signup">
    <h1 class="form-title">Register</h1>
    <form method="post" asp-controller="Account" asp-action="SignUp" id="rForm">
        @*@if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @foreach(var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <p>@error.ErrorMessage</p>
                }
            </div>
        }*@
        @if (!ViewData.ModelState.IsValid)
        {
            <div id="toast" class="toast">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <span id="toastMessage">@error.ErrorMessage</span>
                }
                
            </div>
        }
        
        <div class="e-sign-in-area">
            <div class="input-group">
                <input asp-for="UserLogin" class="e-user" placeholder="User Name" required>
            </div>
            <div class="input-group">
                <input asp-for="UserEmail" class="e-email" placeholder="Email" required>
            </div>
            <div class="input-group">
                <input type="text" id="password" class="e-password" asp-for="LoginPassword" placeholder="Password" />
            </div>
            <div class="input-group">
                <input type="text" id="rpassword" class="e-password" placeholder="Re-fill Password" />
            </div>
            <div id="signUpMessage" class="messageDiv" style="display:none;"></div>
        </div>
        
        <div class="messageDiv" style="display:none; color: red;"></div>
        <button class="e-btn btn btn-hover" type="submit">
            <span>Sign Up</span>
        </button>
    </form>
    <p class="or">
        ----------or----------
    </p>
    <div class="other-way">
        <!--
            <div class="icons">
            <i class="fab fa-google"></i>
            <i class="fab fa-facebook"></i>
        </div>
        -->
        <div class="links">
            <p>Already Have Account ?</p>
            <a id="signInButton" asp-controller="Account" asp-action="SignIn">Sign In</a>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('rForm').addEventListener('submit', function (e) {
            var password = document.getElementById('password').value;
            var rpassword = document.getElementById('rpassword').value;
            var messageDiv = document.querySelector('.messageDiv');

            if (password !== rpassword) {
                messageDiv.innerText = 'Mật khẩu không khớp!';
                messageDiv.style.display = 'block';

                e.preventDefault();
            } else {
                messageDiv.style.display = 'none';

            }
        });
        
    </script>
}