@using Web_BTL.Models.Actors
@model ActorModel

<div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-action="AddActor" method="post" id="addActorForm">
        <!--Nhập tên phim-->
        <div style="margin-top: 7px" class="form-group row">
            <span asp-validation-for="ActorName" class="text-danger"></span>
            <div>
                <input asp-for="ActorName" class="form-control" placeholder="Tên diễn viên" />
            </div>
        </div>
        <div>
            <span asp-validation-for="AcctorDate" class="text-danger"></span>
            <div>
                <input asp-for="AcctorDate" type="date" class="form-control"/>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
</div>