.html {
    font-size: 16px;
}

.t-body-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #424040;
    color: white;
}

.t-body {
    width: 80%;
    background-color: #181616;
}

.t-header-and-movie-section {
    margin-top: 80px;
}

.t-header-section {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181616;
    margin-bottom: 30px;
    padding-left: 20px;
}

.t-header-label {
    padding: 10px 20px;
    border-left: 4px solid #1f83ed;
}

.t-menu {
    margin-right: 50px;
}

    .t-menu a {
        color: white;
        margin-right: 20px;
        text-decoration: none;
    }

.t-movie-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Tạo 6 cột với chiều rộng bằng nhau */
    gap: 20px; /* Khoảng cách giữa các phần tử */
    margin-bottom: 20px; /* Khoảng cách giữa các hàng */
}

.t-movie {
    position: relative;
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
}

    .t-movie img {
        width: 100%;
        display: block;
        overflow : clip;
        overflow-clip-margin : content-box;
    }

.t-movie-content {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    padding: 5px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}

.t-movie-title {
    font-size: 1.5rem;
    position: relative;
    font-weight: 700;
}

.t-movie-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

    .t-movie-info h3 {
        font-size: 16px;
        margin: 0;
        margin-bottom: 10px;
    }

    .t-movie-info .rating {
        background-color: yellow;
        color: black;
        padding: 2px 8px;
        border-radius: 4px;
        font-size: 12px;
    }

.t-btn-more {
    font-size: 1.5rem;
    display: block;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #161E21;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}