<div class="section">
    <div class="container">
        <div class="pricing">
            <div class="pricing-header">
                Fl<span class="main-color">i</span>x pricing
            </div>
            <div class="pricing-list">
                <div class="row">
                    <partial name="Layouts/FlixPricing/Basic" />
                    <partial name="Layouts/FlixPricing/Premium" />
                    <partial name="Layouts/FlixPricing/Vip" />
                </div>
            </div>
        </div>
    </div>
</div>