@using Web_BTL.Models.User
@model UserModel

<form asp-action="EditName" method="post">
    <input type="text" name="name" value="@Model.UserName"/>
    <button class="btn btn-outline-primary" type="submit">save</button>
</form>