@using Web_BTL.Models.User
@model UserModel

<form id="passwordForm" asp-action="EditPassword" method="post">
    <div>
        <input type="text" name="oPassword" placeholder="Old Password" id="oldPassword"/>
        <div class="messageDiv" style="display:none; color: red;"></div>
    </div>
    <div>
        <input type="text" name="nPassword" placeholder="New Password" id="newPassword"/>
    </div>
    <div>
        <input type="text" name="cPassword" placeholder="Re-fill New Password" id="confirmPassword" />
    </div>
    <button type="submit" class="btn btn-primary">save</button>
</form>


@*
<script>
    $(document).ready(function () {
        $('#passwordForm').on('submit', function (e) {
            var newPassword = $('#newPassword').val();
            var confirmPassword = $('#confirmPassword').val();
            var oldPassword = $('#oldPassword').val();

            if (oldPassword !== @Model.LoginPassword) {
                alter("Bạn nhập sai mật khẩu");
                e.preventDefault();
                return;
            }
            var passwordRegex = /^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[!#@@\$%\^&\*])(?=.{8,})/; // biểu thức chính quy yêu cầu mật khẩu phải chứ ít nhất 8 ý tự và bao gồm kí hoa, thường, đặc biệt
            // kiểm tra tính hợp lệ của mật khẩu
            if (!passwordRegex.test(newPassword)) {
                alter("Mật khẩu ko hợp lệ(Mật khẩu phải có ít nhất 8 kí tự và bao gồm cả chữ hoa, chữ thường, số, kí tự đặc biệt)");
                e.preventDefault();
                return;
            }
            if (newPassword !== confirmPassword) {
                alter("Mật khẩu nhập lại không khớp");
                e.preventDefault();
                return;
            }
            if (newPassword === oldPassword) {
                alter("Không được đặt lại mật khẩu cũ");
                e.preventDefault();
                return;
            }
            $.ajax({
                url: "/User/EditPassword",
                type: "POST",
                data: { password: newPassword },
                success: function (response) {
                    alter("Mật khẩu đã thay đổi thành công");
                }
            });
        });
    });
</script>
*@